<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}-<yhcms:cfg_webname /></title>
	<meta name="keywords" content="{$sitekeywords}" />
	<meta name="description" content="{$sitedescription}" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/{$mobile_css}.css">
</head>
<body>
	<div class="container">

		<include file="$tpl_Public_add1" />
		<div class="content-container">
			<div class="list_pro">
				<header>
					<h2>{$cate.name}</h2>
					<a href="javascript:;" id="catBtn-s">更多栏目<i class="fa fa-angle-right fa-gray"></i></a>
				</header>

				<dl class="dllist">
					<yhcms:piclist typeid="$cid" limit="10">
					<dd>
						<a href="{$piclist.url}"><span style="display:inline-block;"></span><img src="{$piclist.litpic}" width="100%"></a>
						<a href="{$piclist.url}">{$piclist.title}</a>
					</dd>
					</yhcms:piclist>
				</dl>
				<div class="btns">点击加载更多</div>
			</div>


			<include file="$tpl_Public_footer" />
		</div>

		<include file="$tpl_Public_header" />

		
		<include file="$tpl_Public_add2" />

	</div>


	<script type="text/javascript" src="__PUBLIC__/js/common.min.js"></script>
	<script type="text/javascript">
		yhcmsApp.rem().windowSize().slidebar().cateBar().getPicList({$cid});
	</script>
</body>
</html>