<div class="slidebar" id="slidebar">
	<ul>
		<yhcms:navwaplist>
			<li>
				<a href="{$navwaplist.url}"><i class="fa {$navwaplist.ico} fa-light" style="color:{$navwaplist.icocolor};"></i><font color="{$navwaplist.fontcolor}">{$navwaplist.name}</font><i class="fa fa-angle-right fa-light"></i></a>
			</li>
		</yhcms:navwaplist>
		<!--
		<li>
			<a href="<yhcms:cfg_weburl />/Mobile/"><i class="fa fa-home fa-light"></i>首页<i class="fa fa-angle-right fa-light"></i></a>
		</li>

		<li>
			<a href="<yhcms:cfg_weburl />/Mobile/products/"><i class="fa fa-list fa-light"></i>产品展示<i class="fa fa-angle-right fa-light"></i></a>
		</li>

		<li>
			<a href="<yhcms:cfg_weburl />/Mobile/news/"><i class="fa fa-newspaper-o fa-light"></i>新闻资讯<i class="fa fa-angle-right fa-light"></i></a>
		</li>

		<li>
			<a href="<yhcms:cfg_weburl />/Mobile/case/"><i class="fa fa-photo fa-light"></i>案例展示<i class="fa fa-angle-right fa-light"></i></a>
		</li>

		<li>
			<a href="<yhcms:cfg_weburl />/Mobile/Guestbook/index/"><i class="fa fa-comment-o fa-light"></i>留言板<i class="fa fa-angle-right fa-light"></i></a>
		</li>

		<li>
			<a href="<yhcms:cfg_weburl />/Mobile/about/"><i class="fa fa-user fa-light"></i>关于我们<i class="fa fa-angle-right fa-light"></i></a>
		</li>

		<li>
			<a href="tel:13656138807"><i class="fa fa-phone fa-light"></i>一键拨号<i class="fa fa-angle-right fa-light"></i></a>
		</li>

		<li>
			<a href="http://api.map.baidu.com/marker?location=32.202237,119.442735&title=%E8%BF%9C%E8%88%AA%E7%BD%91%E7%BB%9C&content=镇江市万达广场写字楼A座&output=html"><i class="fa fa-map-marker fa-light"></i>在线地图<i class="fa fa-angle-right fa-light"></i></a>
		</li>
	-->
	</ul>
</div>