<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}-<yhcms:cfg_webname /></title>
	<meta name="keywords" content="{$sitekeywords}" />
	<meta name="description" content="{$sitedescription}" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/{$mobile_css}.css">
</head>
<body>
	<div class="container">

		 <include file="$tpl_Public_add1" />
		<div class="content-container">
			<if condition="$content['litpic']">
				<div class="banner">
				
					<img src="{$content.litpic}" width="100%">
				</div>
			</if>

			<div class="show_art">
				<h1>{$content.title}</h1>
				<small>{$content.publishtime|date='Y-m-d H:i:s',###}</small>
				<ul>
					<li>
						<div class="cont">
							{$content.content}
						</div>
					</li>
					
				</ul>
			</div>

			<include file="$tpl_Public_footer" />
		</div>
		
		<include file="$tpl_Public_header" />

	</div>


	<script type="text/javascript" src="__PUBLIC__/js/common.min.js"></script>
	<script type="text/javascript">
		yhcmsApp.rem().windowSize().slidebar();
	</script>
</body>
</html>