<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$areasname}{$title}-<yhcms:cfg_webname /></title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/re.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sliding.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/moveTime.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/banner.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/layer.js"></script>
<script>
window.onload = function () {
	publick();
	sliding();
	banner();
	layer();
}
</script>
</head>

<body>
<include file="$tpl_Public_header" />
		<div class="list_box" id='aboutcont'>
			<div id="ban">
			<ul class="ban_ul">
			<foreach name="content['pictureurls']" item="v" key='k'>
				<li class="ban_li"><img src="{$v['url']|get_picture=600}" width="100%" height="100%"></li>
			</foreach>
			</ul>
			<div class="clear"></div>
			<div class="yd">
				<div id="yd">
				<div class="active"></div>
				<div></div>
				<div></div>
				</div>
			</div>
		</div><!--banner end-->
			<div class="projs">
				<div class="prosmtit">{$content.title}</div>
				<div class="procs">规格:<span>{$content.specification}</span></div>
				<div class="procs">型号:<span>{$cate.name}</span></div>
				<div class="procs">单位:<span>{$content.units}</span></div>
				<div class="procs">浏览次数:<span><yhcms:click /></span></div>
			</div>
			<div class="smtit">详细描述</div>
			<div class="procont">
				{$content.content}
			</div>

			<div class="prev">上一条:<yhcms:areaprev /></div>
			<div class="next">下一条:<yhcms:areanext /></div>
		</div>
		<include file="$tpl_Public_footer" />
	</div><!-- box end-->
	<div class="sy" id="sy">
		<div class="sy_tit" id="fh">{$cate.name}</div>
		<yhcms:catlist typeid='$cid' >
			<div class="sy_cont"><a href="{$catlist.url}">{$catlist.name}</a></div>
		</yhcms:catlist>
	</div>
</div><!-- wrap end -->
</body>
</html>