<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}-<yhcms:cfg_webname /></title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery1.42.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/slide.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
</head>
<body>
<include file="$tpl_Public_header" />
<!--ad start-->
<div class="ad w980"><yhcms:block name='show_banner' /></div>
<!--ad end-->
<div class="Dg">您当前位置：<yhcms:position /></div>
<!--pages start-->
<div class="pages w980">
  <div class="pages_l fl">
    <div class="pages_l_c">
      <div class="tit">
        <h4 class="fl">栏目列表</h4>
      </div>
      <ul>
        <if condition="$flag_son">
          <yhcms:catlist typeid='$cid' type='son' flag='1'>
          <li class="nopic"><span></span><a href="{$catlist.url}">{$catlist.name}</a></li>
          </yhcms:catlist>
        <else/>
          <if condition = "$cate['pid'] gt 0">
            <yhcms:catlist typeid="$cate['pid']" type='son' flag='1'>
            <li class="nopic"><span></span><a href="{$catlist.url}">{$catlist.name}</a></li>
            </yhcms:catlist>
          </if>
        </if>
      </ul>
    </div><br>
    <div class="pages_l_c">
      <div class="tit">
        <h4 class="fl">最新下载</h4>
      </div>
      <ul>
        <yhcms:soflist limit='6' titlelen='16'>
        <li class="nopic"><span></span><a href="{$soflist.url}">{$soflist.title}</a></li>
        </yhcms:soflist>
      </ul>
    </div>
  </div>
  <div class="pages_r fr">
    <div class="pages_r_c">
      <dl>
        <div class="fl">
          <dt class="tit">{$cate.name}</dt>
        </div>
      </dl>
      <div class="product_detail">
        <div class="cp_tp_show">
          	<img src="{$content.litpic|get_picture=600}" />
        </div>
        <div class="cp_tp_miaoshu">
          <div class="ms_title">{$content.title}</div>
            <div class="ms_con">
              	<p>大小：{$content.filesize}</p>
              	<p>更新版本：{$content.version}</p>
              	<p>更新日期：{$content.updatetime|date='Y-m-d',###}</p>
              	<p>适合系统：{$content.os}</p>
            </div>
            <!--<div class="xunjia"><a href="#">我要询价</a></div>-->
            <div class="ms_shara"> 
				<div class="pro_h3">下载地址</div>
				<div class="wzzw lh">
					<foreach name="content['downlink']" item="v">
						<p><a href="{$v.url}" target="_blank" >{$v.title }</a></p>
					</foreach>
				</div>
            </div>
          </div>
        <div class="clear"></div>
        <div class="ps_content">
          <div class="ps_tit">详细介绍</div>
          <div class="ps_contenter">{$content.content}</div>
          <div class="clear"></div>
        </div>
      </div>
          
      <!--products_deatil end--> 
      <!--上条下一条开始-->
      <div class="pages_prew">
        <div class="prew"><span>上一篇：</span>
          <p><span></span><yhcms:prev /></p>
        </div>
        <div class="prew"><span>下一篇：</span>
          <p><span></span><yhcms:next /></p>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--pages end--> 
<include file="$tpl_Public_footer" />
</body>
</html>