<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>{$title}-<yhcms:cfg_webname /></title>
	<meta name="keywords" content="{$keywords}" />
	<meta name="description" content="{$description}" />
	<link rel="stylesheet" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/css/index.css">
	<script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
</head>
<body>
	<div class="index-bg">
		<div class="center">
			<include file="$tpl_Public_header" />
			<div class="date">
				<div class="date-link">
					<div class="blue-point"></div>
					<span>当前位置:&nbsp;</span>
					<yhcms:position />
				</div>
			</div>
			<div class="main">
				<div class="main-left">
					<div class="main-left-center">
						<div class="blue-title line-blue">
							<div>{$pcate.name}</div>
						</div>
						<div class="index-article new-article">
							<ul>
								<yhcms:catlist typeid="2" limit="4">
									<li><a href="{$catlist.areaurl}"><span>{$areasname}{$catlist.name}</span></a></li>
								</yhcms:catlist>
							</ul>
						</div>
						<div class="title">
							<div>联系我们</div>
						</div>
						<div class="contact">
							<ul>
								<yhcms:block name='index_lxfs' />
							</ul>
						</div>
					</div>
				</div>
				<div class="main-right">
					<div class="blue-title">
						<div>{$cate.name}</div>
					</div>
					<div class="news">
						<h1>{$content.title}</h1>
						<h6>来源：{$content.source}&nbsp;&nbsp;作者：{$content.author}&nbsp;&nbsp;发布时间：{$content.publishtime|date='Y-m-d',###}    浏览量：<yhcms:click /></h6>
						<div class="news-font">
							{$content.content}
						</div>
						
						<div class="tag">
							相关标签: {$content.tag}<br/>
							本文链接: {$content.myurl}
						</div>

						<div class="pages_prew">
							<div class="prev">
								<span class="prev_tit">上一条</span>
								<span class="prev_cont"><yhcms:prev /></span>
							</div>
							<div class="prev">
								<span class="prev_tit">下一条</span>
								<span class="prev_cont"><yhcms:next /></span>
							</div>
						</div>

						<div class="relevant">
							<div class="relevant-title">相关新闻</div>
							<ul>
								<yhcms:artlist typeid="$pcate['id']" limit="6">
									<li><a href="{$artlist.url}">{$artlist.title}</a></li>
								</yhcms:artlist>
							</ul>
						</div>
						<div class="relevant">
							<div class="relevant-title">相关产品</div>
							<yhcms:prolist typeid="7" limit="5">
								<div class="pro-l">
									<a href="{$porlist.areaurl}" class="pic"><img src="{$prolist.litpic}" alt="{$areasname}{$prolist}" width="100%" onload="reset_pic(this,'120,120',true)"></a>
									<a href="{$porlist.areaurl}">{$areasname}{$prolist.title}</a>
								</div>
							</yhcms:prolist>
						</div>						
					</div>
				</div>
			</div>
			<include file="$tpl_Public_footer" />
		</div>
	</div>
</body>
</html>